@font-face {
  font-family: "MyCustomFont";
  src: url("/map/wj_font/완주대둔산/완주대둔산체 Bold.ttf") format('truetype');
}


.title_{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "MyCustomFont";
  font-style: normal;
  font-size: 55px;
  top: 0;
  margin: 3%;
  padding: 1.5%;
  line-height: 1;
  border-bottom: 2px  solid gray;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 684.5px;
  height: auto;
}

.allmap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.opimg {
  width: 400px;
  height: auto;
  margin-right: 10px; /* 이미지와 텍스트 사이 간격 조정을 위한 여백 설정 */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#modalImage1{
  position: absolute;
  top: 280px;
  left: 63%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage2{
  position: absolute;
  top: 375px;
  left: 101%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage3{
  position: absolute;
  top: 260px;
  left: 141%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage4{
  position: absolute;
  top: 398px;
  left: 99%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage5{
  position: absolute;
  top: 367px;
  left: 95.5%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage6{
  position: absolute;
  top: 379px;
  left: 96%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage7{
  position: absolute;
  top: 247px;
  left: 81.5%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage8{
  position: absolute;
  top: 282px;
  left: 87%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage9{
  position: absolute;
  top: 369px;
  left: 97.6%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage10{
  position: absolute;
  top: 355px;
  left: 121%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage11{
  position: absolute;
  top: 282px;
  left: 89%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage12{
  position: absolute;
  top: 320px;
  left: 97%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage13{
  position: absolute;
  top: 460px;
  left: 103%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage14{
  position: absolute;
  top: 305px;
  left: 96%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage15{
  position: absolute;
  top: 305px;
  left: 98%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage16{
  position: absolute;
  top: 305px;
  left: 101%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage17{
  position: absolute;
  top: 400px;
  left: 113%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage18{
  position: absolute;
  top: 278px;
  left: 90.5%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage19{
  position: absolute;
  top: 319px;
  left: 95.5%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage20{
  position: absolute;
  top: 325px;
  left: 100%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}
#modalImage21{
  position: absolute;
  top: 330px;
  left: 100%;
  width: 3.5%;
  height: auto;
  object-fit: cover;
}

  .filter{  
    position: relative;
    top: 10px;
    left: 1100px;
    width: 130px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin-left: 30px;
  }

  .checkbox-it {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;  
    height: 20px;
    border-radius: 4px;
    border: 2px solid #81EA68;
    vertical-align: middle; /* 수직 정렬 속성 추가 */
    margin: 5; /* margin 초기화 */
    padding: 0; /* padding 초기화 */
  }
  
  .checkbox-it:checked {
    background-color: #81EA68;
  }
  
  .checkbox-nurse {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #78C8FF;
    vertical-align: middle; /* 수직 정렬 속성 추가 */
    margin: 5; /* margin 초기화 */
    padding: 0; /* padding 초기화 */
  }
  
  .checkbox-nurse:checked {
    background-color: #78C8FF;
  }
  
  .checkbox-beauty {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #C78FF7;
    vertical-align: middle; /* 수직 정렬 속성 추가 */
    margin: 5; /* margin 초기화 */
    padding: 0; /* padding 초기화 */
  }
  
  .checkbox-beauty:checked {
    background-color: #C78FF7;
  }

  .checkbox-cook {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #FFB600;
    vertical-align: middle; /* 수직 정렬 속성 추가 */
    margin: 5; /* margin 초기화 */
    padding: 0; /* padding 초기화 */
  }
  
  .checkbox-cook:checked {
    background-color: #FFB600;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-contentIT {
    display: flex;
    align-items: flex-start;
    margin: 10% auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 5px solid #81EA68;
    padding: 20px;
    position: relative;
    font-family: "MyCustomFont";
  }

  .modal-contentIT h2{
    color: #81EA68;
    font-size: 250%;
  }
  .modal-contentIT p{
    font-size: 150%;
  }

  .modal-contentnurse {
    display: flex;
    align-items: flex-start;
    margin: 10% auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 5px solid #78C8FF;
    padding: 20px;
    position: relative;
    font-family: "MyCustomFont";
  }

  .modal-contentnurse h2{
    color: #78C8FF;
    font-size: 250%;
  }
  .modal-contentnurse p{
    font-size: 150%;
  }

  .modal-contentbeauty {
    display: flex;
    align-items: flex-start;
    margin: 10% auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 5px solid #C78FF7;
    padding: 20px;
    position: relative;
    font-family: "MyCustomFont";
  }
  .modal-contentbeauty h2{
    color: #C78FF7;
    font-size: 250%;
  }
  .modal-contentbeauty p{
    font-size: 150%;
  }

  .modal-contentcook {
    display: flex;
    align-items: flex-start;
    margin: 10% auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 5px solid #FFB600;
    padding: 20px;
    position: relative;
    font-family: "MyCustomFont";
  }
  .modal-contentcook h2{
    color: #FFB600;
    font-size: 250%;
  }
  .modal-contentcook p{
    font-size: 150%;
  }
  
  .modal-img {
    max-width: 50%;
    height: auto;
  }
  
  .close {
    color: black;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

